label > input[type='radio'] {
  display: none;
}
label > input[type='radio'] + *::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #f3fbea;
  color: #f3fbea;
}
label > input[type='radio']:checked + * {
  color: #fff;
}
label > input[type='radio']:checked + *::before {
  background: #56ab2f;
  border-color: #f3fbea;
}
label > input[type='radio'] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}
label > span {
  color: #f3fbea;
}
